body {
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #efeeee;
    border: 2.5px solid #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    color: #ffffff;
    border: 2.5px solid #ffffff;
    text-align: center;
    padding: 1em;


}


header img {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    opacity: 0; 
    transition: opacity 2s ease;
}

header img.hidden {
    opacity: 1; 
}


header h2{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 40px;
    margin-right: 20px;
    color: #ffffff;

}


nav {
    background-color: #ffffff;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 2.5px solid #ffffff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 275px;
}


nav li {
    display: inline;
    margin-right: 10px; 
}

nav a {
    text-decoration: none;
    color: #bb0000;
    font-weight: bold;
}

section {
    padding: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #bb0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border:2px solid #bb0000 ;
}

button:hover {
    background-color: #ffffff;
    color:#bb0000;
    transition-duration: 0.5s;
}

footer {
    background-color: #ff0000;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    width: 97.6%;
    border: 2.5px solid #ff0000;
   
}
.small-tab {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    padding: 10px;
    background-color: #ff0000;
    border: 1px solid #ff0000;
    color: #ffffff;
    margin-top: 200px;
    padding-bottom: 50px;
}

nav ul li a:hover,
nav ul li.current a,
nav ul li.hovered a,
nav ul li a.active {
    color: #9a0000;
    border-bottom: 2px solid #ff0000;
    transition-duration: 0.4s;
}




